html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
    background-color: #fff;
    overflow-x: hidden;
}

.container
{
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-loneliness h1 {
    font-size: 36px;
    margin: 0;
    color: #333333;
  }
  
  .header-btn ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .header-btn li {
    margin: 0 10px;
  }
  
  .header-btn li a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .header-btn li a:hover {
    background-color: #f5f5f5;
  }
  
  .header-btn li:last-child a {
    background-color: #F3EAEA;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #F5F5F5;
    box-shadow: 4px 4px 8px rgba(96, 96, 96, 0.25);
    border-radius: 8px;
  }
  
  .header-btn li:last-child a:hover {
    font-weight: bold;
    text-decoration: underline;
  }  

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .banner-title {
    flex-basis: 50%;
    text-align: left;
    padding: 20px;
  }
  
  .banner-title h1 {
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 1.2;
    background: linear-gradient(111.79deg, #003538 36.81%, #A07664 80.78%, rgba(235, 255, 220, 0) 90.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border: 1px #8C7C7C;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    left: 40px;
  }
  
  .banner-title p {
    font-size: 25px;
    color: #666;
    margin-top: 0;
    position: relative;
    left: 40px;
  }
  
  .banner-image {
    flex-basis: 50%;
    text-align: right;
    padding: 20px;
  }
  
  .banner-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  

.artikel
{
    padding: 20px;
    padding-bottom: 130px; 
}

.artikel .artikel-title h1
{
    text-align: center;
}

.artikel .artikel-title p
{
    text-align: center;
}

.artikel .readme
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.readme-first, .readme-second, .readme-third
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 400px;
  height: 352px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.readme-first
{
    background-image: url(awareness\ \(2\).jpg);
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}

.readme-second
{
    background-image: url(consult.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.readme-third
{
    background-image: url(mentalhealth.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-readme-first, .btn-readme-second, .btn-readme-third
{
  margin-top: 20px;
  background-color: #83807E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  right: 130px;
  bottom: 10px;
  transition: font-weight text-decoration 0.3s ease;
}

.btn-readme-first:hover, .btn-readme-second:hover, .btn-readme-third:hover
{
    font-weight: bold;
    text-decoration: underline;
}

.awareness, .consultation, .mentalhealth
{
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
    width: 338px;
    height: 200px;
    position: relative;
    top: 135px;
    text-align: justify;
}

.readme-first-seemore, .readme-second-seemore, .readme-third-seemore
{  
    background-color: #A99087;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 60px;
    font-family:'Frank Ruhl Libre' ;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    width: 202px;
    height: 60px;
    top: 115px;
    transition: font-weight text-decoration 0.3s ease;
}

.readme-first-seemore:hover, .readme-second-seemore:hover, .readme-third-seemore:hover
{  
    font-weight: bold;
    text-decoration: underline;
}

/* styling for footer section */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
  }
  
  /* styling for footer-left section */
  .footer-left {
    flex-basis: 30%;
  }
  
  /* styling for footer-left-loneliness section */
  .footer-left-loneliness {
    margin-bottom: 30px;
  }
  
  /* styling for h1 tag in footer-left-loneliness section */
  .footer-left-loneliness h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* styling for p tag in footer-left-loneliness section */
  .footer-left-loneliness p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  
  /* styling for footer-left-contacus section */
  .footer-left-contacus p {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
  }
  
  /* styling for footer-center section */
  .footer-center {
    display: flex;
    flex-basis: 30%;
  }
  
  /* styling for footer-center-about section */
  .footer-center-about,
  .footer-center-support {
    flex-basis: 30%;
  }
  
  /* styling for h1 tag in footer-center-about and footer-center-support section */
  .footer-center-about h1,
  .footer-center-support h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* styling for li tag in footer-center-about and footer-center-support section */
  .footer-center-about li,
  .footer-center-support li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  /* styling for a tag in footer-center-about and footer-center-support section */
  .footer-center-about a,
  .footer-center-support a {
    font-size: 14px;
    color: #666;
    text-decoration: none;
  }
  
  /* styling for a:hover tag in footer-center-about and footer-center-support section */
  .footer-center-about a:hover,
  .footer-center-support a:hover {
    color: #000;
  }
  
  /* styling for footer-right section */
  .footer-right {
    flex-basis: 30%;
  }
  
  /* styling for footer-right-qof section */
  .footer-right-qof {
    margin-bottom: 30px;
  }
  
  /* styling for h1 tag in footer-right-qof section */
  .footer-right-qof h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* styling for button tag in footer-right-qof section */
  .footer-right-qof button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* styling for button:hover tag in footer-right-qof section */
  .footer-right-qof button:hover {
    background-color: #666;
  }
  
  /* styling for footer-right-followus section */
  .footer-right-followus li {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* styling for img tag in footer-right-followus section */
  .footer-right-followus img {
    width: 25px;
    height: 25px;
  }
  
