:root {
  --primary: #3d3c3c;
  --bg: linear-gradient(
    180deg,
    rgba(197, 139, 131, 0.3) 0%,
    rgba(255, 255, 255, 0) 21.03%,
    #ffffff 21.03%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Franklin Libre Ruhl";
  background-image: linear-gradient(
    180deg,
    rgba(197, 139, 131, 0.3) 0%,
    rgba(255, 255, 255, 0) 9%,
    #ffffff 31.03%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--primary);
}

.container {
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 1.4rem 3%;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 80px;
}

.header h1 {
  color: var(--primary);
  display: inline-block;
  font-size: 2rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.banner-leftbox {
  width: 25%;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  position: relative;
  left: 200px;
  padding: 20px;
}

.banner-leftbox-title h1 {
  font-family: "Rambla";
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 86px;
  color: rgba(0, 53, 56, 0.21);
  border: 1px #8c7c7c;
}

.banner-leftbox-title p {
  font-family: "Frank Ruhl Libre";
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
  position: relative;
  bottom: 15px;
}

.banner-leftbox ul {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-leftbox li {
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

/* .banner-leftbox li:hover {
      background-color: #f5f5f5;
    } */

.banner-leftbox li a {
  text-decoration: none;
}

.banner-leftbox-button-top,
.banner-leftbox-button-bottom {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 78%;
}

.banner-leftbox-button-top ul {
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 19px;
}

.banner-leftbox-button-top a,
.banner-leftbox-button-bottom a {
  color: var(--primary);
}

.banner-leftbox-button-top a > span {
  display: inline-block;
  text-align: center;
  width: 80px;
}

li.home,
li.profile,
li.llt {
  width: 80px;
  text-align: center;
}

li.llt {
  position: relative;
  top: 15%;
}

.banner-leftbox-button-bottom ul {
  justify-content: center;
  align-items: center;
  position: relative;
  right: 17px;
}

.banner-leftbox-button-bottom a > span {
  display: inline-block;
  text-align: center;
  width: 80px;
}

li.mentor,
li.history,
li.logout {
  width: 80px;
  text-align: center;
}

li.mentor {
  position: relative;
  top: 10%;
}

.banner-leftbox a:hover {
  stroke-width: 3;
  font-weight: bold;
}

.banner-rightbox {
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 25px;
  padding-right: 30px;
  width: 30%;
  height: 400px;
  position: relative;
  right: 200px;
}

.banner-rightbox-title h1 {
  font-size: 2rem;
  padding-bottom: 15px;
  font-weight: 700;
  color: var(--primary);
  padding-bottom: 30px;
  margin-left: 10px;
}

.banner-rightbox-history table {
  width: 100%;
  border-collapse: collapse;
}

.banner-rightbox-history th,
.banner-rightbox-history td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
}

.banner-rightbox-history th {
  font-weight: bold;
  background-color: #fff;
}

.banner-rightbox-history tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.banner-rightbox-history tbody tr:hover {
  background-color: #eaeaea;
}

.delete {
  color: var(--primary);
  border-radius: 23.5px;
  width: 85px;
}

.delete svg {
  width: 50%;
  margin: auto;
  position: relative;
  left: 10px;
  float: left;
}

.delete span {
  display: flex;
  width: 50%;
  margin: auto;
}

.delete a:hover {
  font-weight: bold;
}

.delete svg:hover {
  stroke-width: 2.5;
}

/* .input-form-right {
  padding-right: 10px;
}

.input-form-left label,
.input-form-right label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: var(--primary);
}

.input-form-left input,
.input-form-right input,
.input-form-right select {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.input-form-right select {
  padding-left: 15px;
}

input[type="text"],
input[type="date"] {
  padding-left: 15px;
} */

/* .banner-rightbox-button button {
      display: inline-block;
      padding: 10px 20px;
      background: #e4d9d9;
      color: var(--primary);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      font-family: "Frank Ruhl Libre";
      font-weight: 700;
      text-decoration: none;
      border-radius: 4px;
      font-size: 1.1rem;
      position: relative;
      left: 170px;
    }
    
    .banner-rightbox-button button:hover {
      background: #ada6a6;
    } */

/* .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px;
      }
      
      .footer .long-line {
        width: 1500px;
        height: 0px;
        border: 1px solid #525151;
        position: relative;
        top: 100px;
      } */
