:root {
  --primary: #3d3c3c;
  --bg: linear-gradient(
    180deg,
    rgba(197, 139, 131, 0.3) 0%,
    rgba(255, 255, 255, 0) 21.03%,
    #ffffff 21.03%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Franklin Libre Ruhl";
  background-image: linear-gradient(
    180deg,
    rgba(197, 139, 131, 0.3) 0%,
    rgba(255, 255, 255, 0) 9%,
    #ffffff 31.03%
  );
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--primary);
}

.container {
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 1.4rem 3%;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 80px;
}

.header h1 {
  color: var(--primary);
  display: inline-block;
  font-size: 2rem;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.banner-leftbox {
  width: 25%;
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  position: relative;
  left: 200px;
  padding: 20px;
}

.banner-leftbox-title h1 {
  font-family: "Rambla";
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 86px;
  color: rgba(0, 53, 56, 0.21);
  border: 1px #8c7c7c;
}

.banner-leftbox-title p {
  font-family: "Frank Ruhl Libre";
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  position: relative;
  bottom: 15px;
}

.banner-leftbox ul {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-leftbox li {
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

/* .banner-leftbox li:hover {
  background-color: #f5f5f5;
} */

.banner-leftbox li a {
  text-decoration: none;
}

.banner-leftbox-button-top,
.banner-leftbox-button-bottom {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 78%;
}

.banner-leftbox-button-top ul {
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 19px;
}

.banner-leftbox-button-top a,
.banner-leftbox-button-bottom a {
  color: var(--primary);
}

.banner-leftbox-button-top a > span {
  display: inline-block;
  text-align: center;
  width: 80px;
}

li.home,
li.profile,
li.llt {
  width: 80px;
  text-align: center;
}

li.llt {
  position: relative;
  top: 15%;
}

.banner-leftbox-button-bottom ul {
  justify-content: center;
  align-items: center;
  position: relative;
  right: 17px;
}

.banner-leftbox-button-bottom a > span {
  display: inline-block;
  text-align: center;
  width: 80px;
}

li.mentor,
li.history,
li.logout {
  width: 80px;
  text-align: center;
}

li.mentor {
  position: relative;
  top: 10%;
}

.banner-leftbox a:hover {
  stroke-width: 3;
  font-weight: bold;
}

.banner-rightbox {
  background: rgba(255, 255, 255, 0.37);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px;
  width: 40%;
  height: 409px;
  position: relative;
  right: 200px;
}

.banner-rightbox-title h1 {
  font-size: 2rem;
  padding-bottom: 15px;
  font-weight: 700;
  color: var(--primary);
  padding-bottom: 40px;
  margin-left: 10px;
}

.banner-rightbox-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-rightbox-img-left,
.banner-rightbox-img-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.banner-rightbox-img-left {
  margin-left: 20px;
}

.banner-rightbox-img-right {
  margin-right: 20px;
}

.banner-rightbox-img-left {
  background-image: url(tetehmentor.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.banner-rightbox-img-right {
  background-image: url(aamentor.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.hubungi-left a,
.hubungi-right a {
  /* margin-top: 20px; */
  background-color: #83807e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  font-size: 0.8rem;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  right: 80px;
  bottom: -10px;
  transition: font-weight text-decoration 0.3s ease;
}

.hubungi-left a:hover, .hubungi-right a:hover {
  font-size: 0.9rem;
  text-decoration: underline;
}

.blur-left,
.blur-right {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(2.5px);
  border-radius: 10px;
  width: 85%;
  height: 120px;
  position: relative;
  top: 100px;
  text-align: justify;
}

.name-mentor1,
.name-mentor2 {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.desc-mentor1,
.desc-mentor2 {
  padding: 10px;
  font-size: 0.8rem;
}

.banner-rightbox-button a {
  color: var(--primary);
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  transition: 0.3s ease;
  position: relative;
  top: 70px;
  left: 470px;
}

.banner-rightbox-button a:hover {
  font-size: 1.4rem;
  text-decoration: underline;
}